.contenedor_obs {
    display: grid; 
     grid-template-columns: repeat(3, 1fr);
    /* background-color: aquamarine; */
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}
.contenedora_historial {

    padding: 40px;

}

input, select:hover {
    color: black;
    cursor: pointer;
}

.seccion_historial {
    background-color: white;
    border-radius: 5px;
    max-height: 700px;
    margin: auto;
    padding: 10px;
    width: 1100px;

}
.texto_obs1 {
    grid-column: 1 / 4;
    grid-row: 2;
}

.texto_obs2 {
    grid-column: 1 / 4;
    grid-row: 3;
}

.texto_obs1, .texto_obs2, textarea {
    width: 100%;
    display: inline;
}

input[type="time"], input[type="date"], select {
    background-color: rgb(250, 240, 240);
    padding: 3px 4px;
    border: none;
}

textarea {
    background-color: rgb(250, 240, 240);
}
.botn_obs {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid;
    background: #218342;
    border-radius: 25px;
    font-size: 16px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.botn_obs:hover {
    border-color: black;
    transition: .5s;
}
.boton{
    grid-column: 3/ 4;
    grid-row: 4;
}

.date-observacion {
    
    width: 400px
}

.date-observacion select{
    
    width: 300px;
    height: 30px;
    background-color:#90a898;
    border-radius: 25px;
    margin-left: 30px;
    
    
}



.lista-observacion{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #e6e0e0;
    border-radius: 10px;
}


.btn-new-observacion {
    width: 15%;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid;
    background: #218342;
    border-radius: 25px;
    font-size: 16px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.btn-new-observacion:hover {
    border-color: black;
    transition: .5s;
}

.observacion-list h1{
    margin-left: 20px;
    margin-bottom: 20px;
}


.card-observacion-content{
    background-color: white;
    margin-bottom: .7rem;
    width: 95%;
    height: 85px;
    margin-left: 20px;
    padding-left: 7px;
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}